.msg_left {
    text-align: left;
    background: #FFF5F5F5;
    border-radius: 4px;
    padding-left: 14px;
    padding-right: 14px;
    padding-top: 10px;
    padding-bottom: 10px;
    max-width: 400px;
    word-wrap:break-word;
    border-radius:4px 17px 17px 17px;
    white-space: pre-wrap;
}

.msg_right {
    text-align: left;
    background: #3996FF;
    border-radius: 4px;
    padding: 10px;
    color: #ffffff;
    max-width: 400px;
    word-wrap:break-word;
    border-radius:17px 4px 17px 17px;
    white-space: pre-wrap;
}